@using Blazored.Typeahead;
@using Isozay.Hukuk.Clients
@inject IClientService clientService
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
<div class="input-group">
    <div class="form-control inp-g" style="padding:0">
        <strong class="mr-2 text-plaka">@Selected?.ClientType.GetDisplayName()</strong> <span>@Selected?.Name</span> 
        <BlazoredTypeahead SearchMethod="SearchClient"
                            
                           TItem="ClientDto"
                           TValue="ClientDto"
                           Value="Selected"
                            
                            ValueChanged="@( (ClientDto c) => SelectedResultChanged(c) )"
                            ValueExpression="@( () => Selected )"                            
               
                           class="form-control"
                           type="text"
                           Placeholder="Müşteri / Müvekkil"
                           Debounce="500">
            <SelectedTemplate >
                <strong class="mr-2 text-plaka">@Selected?.ClientType.GetDisplayName()</strong> <span>@Selected?.Name</span> 
            </SelectedTemplate>
            <ResultTemplate>
                <strong class="mr-2 text-plaka">@context.ClientType.GetDisplayName()</strong> @context.Name
            </ResultTemplate>
            <NotFoundTemplate>
               Müşteri / Müvekkil Bulunamadı.
            </NotFoundTemplate>
        </BlazoredTypeahead>
    </div>
    <div class="input-group-append">

        <Button title="Listeden Seç" class="btn btn-icon btn-light-info" Clicked="ShowList">
            <span class="svg-icon">
                <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Text/Menu.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
                        <path d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L18.5,10 C19.3284271,10 20,10.6715729 20,11.5 C20,12.3284271 19.3284271,13 18.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z" fill="#000000" opacity="0.3" />
                    </g>
                </svg><!--end::Svg Icon-->
            </span>
        </Button>
    </div>
</div>

@code {
    [Parameter]
    public ClientDto Selected { get; set; }
    [Parameter]
    public EventCallback<ClientDto> SelectedChanged { get; set; }
    public Task ShowList() => Task.CompletedTask;

    private async Task SelectedResultChanged(ClientDto result)
    {
        if (result == null) return;
        Selected = result;
        await SelectedChanged.InvokeAsync(Selected);
    }
    private async Task<IEnumerable<ClientDto>> SearchClient(string searchText)
    {
       return   await clientService.Search(searchText);
         
    }

}